@using System.Web.Optimization

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <base href="/" />
    <meta name="viewport" content="width=device-width" />
    <title>PoC</title>
</head>
<body>
    <div>
        <app-root></app-root>
    </div>
    @Scripts.RenderFormat("<script src='{0}' type='module'></script>", "~/bundles/NgAppes2015")
    @Scripts.RenderFormat("<script src='{0}' nomodule></script>", "~/bundles/NgAppes5")
</body>
</html>