@using System.Web.Optimization

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <base href="/" />
    <meta name="viewport" content="width=device-width" />
    <title>PoC</title>
</head>
<body>
    <div>
        <app-root></app-root>
    </div>
    <script src="~/Scripts/NgApp/runtime-es2015.js" type="module"></script>
    <script src="~/Scripts/NgApp/polyfills-es2015.js" type="module"></script>
    <script src="~/Scripts/NgApp/runtime-es5.js" nomodule></script>
    <script src="~/Scripts/NgApp/polyfills-es5.js" nomodule></script>
    <script src="~/Scripts/NgApp/styles-es2015.js" type="module"></script>
    <script src="~/Scripts/NgApp/styles-es5.js" nomodule></script>
    <script src="~/Scripts/NgApp/vendor-es2015.js" type="module"></script>
    <script src="~/Scripts/NgApp/main-es2015.js" type="module"></script>
    <script src="~/Scripts/NgApp/vendor-es5.js" nomodule></script>
    <script src="~/Scripts/NgApp/main-es5.js" nomodule></script>
</body>
</html>